body {
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header, footer {
    background-color: aquamarine;
}

.site-title {
    color: thistle;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black
}

li:nth-child(odd) {
    background-color:cadetblue;
}

a[href="notes.html"] {
    text-decoration: none;
    background-color: darkseagreen;
    border: 2px;
}

a:hover, a:active {
    background-color: darkslategray;
}