body {
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header, footer {
    background-color: aquamarine;
}

.site-title {
    color: thistle;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black
}

