body {
    background-color: #aad4cf;
}

.box {
    width: 1024px;
    height: 1750px;
    border: 1px solid black;
    padding: 2px;
    margin: auto;
    background: #d4e8e7;
}

.image {
    z-index: 1;
}

h1 {
    font-size: 64px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding-bottom: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 1rem;
    text-align: center;
    font-size: 30px;
}

.img {
    float: left;
    margin: auto;
}

.text {
    font-size: 20px;
}

footer {
    text-align: right;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 30px;
}

.contact {
    width: 1000px;
    height: 370px;
    border: 1px solid black;
    padding: 2px;
    margin: auto;
}

h2 {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

.sendbutton {
    padding: 10px;
}